---
import Layout from "../layouts/Layout.astro";

const title = "About";
const description = "Soy un desarrollador fullstack y estudiante de Análisis de Sistemas.";
---

<Layout title={title} description={description}>
  <h1>Hi! Welcome to the page About!</h1>
  <p>{description}</p>
</Layout>
