---
import {Icon} from "astro-icon/components";
---

<footer>
  <div>
    <small>
      Copyright &copy; <span id="copyright"></span> | All rights reserved
    </small>
    <small>
      <a href="/rss.xml">
        Suscribe to RSS
        <Icon name="logomark"/>
      </a>
    </small>
  </div>
</footer>

<script>
  document.querySelector("#copyright").textContent = new Date()
    .getFullYear()
    .toString();
</script>
